<nav class="navbar navbar-inverse navbar-static-top " style="margin-top: 50px;">
    <div class="c-brand c-pull-left">
        <a class="navbar-brand" href="/">Gestión Cursos TDEA</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/listar-cursos">Listar Cursos</a>
            </li>
            <li>
                <a href="/proceso-registro">Registrarse</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
