<nav class="navbar navbar-inverse navbar-static-top" style="margin-top: 50px;">
    <div class="container">
        
        <a class="navbar-brand" href="/">Inicio</a>
        <ul class="nav navbar-nav">
            
            <li>
                <a href="/ver-curso/"{{ midocumento }}>Listar Cursos</a>
            </li>
            <li>
                <a href="/proceso-inscripcion1">Proceso Inscripción</a>
            </li>
            
            <li>
                <a href="/eliminar-inscritos1">Eliminar Inscritos</a>
            </li>

             <li>
                <a >Bienvenido usuario  {{ aspirante }}</a>
            </li>
        </ul>
    </div>
</nav>