{{>header }}
 {{> menu-aspirante}}

        <div class="jumbotron" style="padding:40px;">
            <h1>Hola, este es el sistema de gestión de cursos del TDEA para aspirantes a cursos</h1>
            <p>Utilice los menús en la parte superior para navegar a través de los casos de uso.</p>
        </div>
    </div>


    </div>