
{{>header }}

    {{> menu-docente}}
    <h2>Crear Curso</h2>
    <hr/>

    {{#if existeCurso}}
    <div class="alert alert-danger" role="alert">
        El curso ya existe, intente de nuevo.
    </div>
    {{/if}}

    {{#if guardado}}
        <div class="alert alert-success" role="alert">
            El curso fue creado.
        </div>
    {{/if}}

    <div class="row">
        <div class="col-md-12 mx-auto">
            <form action="/guardar-cursos" method="post">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="idCurso">Id Curso * </label>
                        <input type="text" class="form-control" id="idCurso" name="idCurso" placeholder="Id Curso" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="nombre">Nombre * </label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="descripcion">Descripción * </label>
                        <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Descripción" required></textarea>
                    </div>
                    <div class="col-sm-6">
                        <label for="valor">Valor ($) *</label>
                        <input type="number" class="form-control" id="valor" name="valor" placeholder="Valor" required>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="modalidad">Modalidad</label>
                        <select class="form-control" id="modalidad" name="modalidad">
                            <option value="virtual">Virtual</option>
                            <option value="presencial">Presencial</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="intensidadHoraria">Intensidad Horaria (horas)</label>
                        <input type="text" class="form-control" id="intensidadHoraria" name="intensidadHoraria" placeholder="Intensidad Horaria">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary px-4 float-right">Guardar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
