{{>header }}
{{> menu}}
<h2>Listar Cursos</h2>
<hr />



<div class="container p-4">
    <div class="row">
        {{#each cursos}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="/ver-curso/{{idCurso}}">
                        <h3 class="card-title text-uppercase">
                            {{ nombre }}
                        </h3>
                    </a>
                    <p class="m-2">{{descripcion}}</p>
                    <p class="text-muted">
                        Inversión: $ {{ valor }}
                    </p>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>


{{>footer }}