<nav class="navbar navbar-inverse navbar-static-top" style="margin-top: 50px;">
    <div class="container">
        <a class="navbar-brand" href="/">Gestión Cursos TDEA</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/crear-cursos">Crear Curso</a>
            </li>
            <li>
                <a href="/listar-cursos">Listar Cursos</a>
            </li>
            <li>
                <a href="/proceso-inscripcion">Proceso Inscripción</a>
            </li>
            <li>
                <a href="/ver-inscritos">Ver Inscritos y Cerrar Curso</a>
            </li>
            <li>
                <a href="/eliminar-inscritos">Eliminar Inscritos</a>
            </li>
        </ul>
    </div>
</nav>
