{{>header}}

{{>menu}}

<h2>Proceso Registro</h2>
<hr />


{{#if guardado}}
<div class="alert alert-success" role="alert">
    La inscripción se guardó correctamente.
</div>
{{/if}}

{{>mensage }}


<div class="row">
    <div class="col-md-12 mx-auto">
        <form action="/guardar-usuario" method="post">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="nombre">Documento Identidad * </label>
                    <input type="text" class="form-control" id="documento" name="documento"
                        placeholder="Documento Identidad" required>
                </div>
                <div class="col-sm-6">
                    <label for="nombre">Nombre * </label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="modalidad">Teléfono * </label>
                    <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono"
                        required>
                </div>
                <div class="col-sm-6">
                    <label for="nombre">Correo * </label>
                    <input type="text" class="form-control" id="correo" name="correo" placeholder="Correo" required>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-6">
                    &nbsp;
                </div>
            </div>
            <button type="submit" class="btn btn-primary px-4 float-right">Guardar</button>
        </form>
    </div>
</div>
{{>footer }}